### ADVENT OF CODE 2021 LETS GO

We have a sequences of depths and are asked how many times the depth increases

In [41]:
import pandas as pd
import numpy as np

depths = pd.read_csv('d1.txt', header = None)
depths

         0
0      156
1      153
2      163
3      168
4      166
...    ...
1995  3754
1996  3755
1997  3762
1998  3769
1999  3770

[2000 rows x 1 columns]

So I think this can be acomplished by just lagging this and taking a difference?

In [42]:
(depths - depths.shift(1)).apply(lambda x : x > 0).sum()

0    1233
dtype: int64

Hot... 

### Part 2
Now we're asked to do this same process but turn these on the basis of a rolling, three measurement sum. If we compute the difference in rolling sums like 

$$(A + B + C) - (B + C + D) = A - D$$

In [43]:
(depths - depths.shift(3)).apply(lambda x : x > 0).sum()

0    1275
dtype: int64